@CHARSET "UTF-8";

.container {
	width: 90%;
	margin: 0px auto;
	background: #ff8040;
}

a {
	text-decoration: none;
}

.mainLnb {
	width: 90%;
	margin: 0px auto;
	list-style: none;
}

.mainLnb>li {
	width: 120px;
	height: 30px;
	margin: 2px;
	background: #d9c9d9;
	float: left;
	line-height: 30px;
}

.mainLnb>li>a {
	display: block;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	trasition: 1s;
}

.mainLnb>li>a:HOVER {
	background: #489df2;
	color: #fff;
}

.mainLnb>li>ul {
	list-style: none;
	visibility: hidden;
}

.mainLnb>li:HOVER>ul {
	visibility: visible;
	margin-left: -40px;
}


.mainLnb>li >ul>li{
	width: 120px;
	height: 30px;
	background: #d9c9d9;
	line-height: 30px;
	font-size: 12px;
	font-weight: bold;
	list-style: none;
}
.mainLnb> li > ul> li> a{
	display: block;
	padding-left: 5px;	
}
.mainLnb> li > ul> li> a:HOVER{
	background: #444;
	color: white;	
}









