<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context   
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	
	<!-- 기본 spring configure -->
	<context:component-scan base-package="kr.co.plastic" />
	<aop:aspectj-autoproxy />
	
	
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
		p:dataSource-ref="dataSource" />
	
    <mvc:annotation-driven>
    	<mvc:message-converters>
    		<bean class= "org.springframework.http.converter.StringHttpMessageConverter"> 
	    		<property name="supportedMediaTypes"> 
	    			<list> 
	    				<value>text/html; charset=UTF-8</value> 
	    			</list> 
	    		</property> 
    		</bean>
    		
    		<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"> 
    			<property name="supportedMediaTypes"> 
    				<list> 
    					<value>text/html; charset=UTF-8</value> 
    					<value>application/json; charset=UTF-8</value> 
    				</list> 
    			</property>
    		</bean>
    	</mvc:message-converters>
    </mvc:annotation-driven>
    
    <!-- 트랜잭션 설정 -->
    <tx:advice id="txAdvice" transaction-manager="transactionManager"> 
		<tx:attributes> 
			<tx:method name="*" rollback-for="Exception" /> 
		</tx:attributes> 
	</tx:advice>
	
	<aop:config>
		<aop:pointcut id="tranMethod"
			expression="execution(public * kr.co.plastic.board..*Service.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="tranMethod" />
	</aop:config>
    
    
	<mvc:default-servlet-handler />
	<mvc:view-resolvers>
		<mvc:jsp prefix="/WEB-INF/JSP/" suffix=".jsp" />
	</mvc:view-resolvers>
	
	<mvc:view-controller path="main.do" 
				view-name="index"/>


	<!-- File Upload configure -->
	<bean id="multipartResolver" class= "org.springframework.web.multipart.commons.CommonsMultipartResolver"> 
	<!-- 최대 업로드 파일 사이즈 : 10MB --> 
		<property name="maxUploadSize" value="10485760" /> 
	</bean>


	<!-- DataBase configure -->
	<bean id="dataSourceSpy"
	    class="org.apache.commons.dbcp.BasicDataSource"
	    destroy-method="close"
	    p:driverClassName="oracle.jdbc.driver.OracleDriver"
	    p:url="jdbc:oracle:thin:@localhost:1521:XE"
	    p:username="hr"
	    p:password="hr" />
	    
	<bean id="dataSource"
	    class="net.sf.log4jdbc.Log4jdbcProxyDataSource"> 
		<constructor-arg ref="dataSourceSpy" /> 
		<property name="logFormatter"> 
		<bean class="net.sf.log4jdbc.tools.Log4JdbcCustomFormatter"> 
			<property name="loggingType" value="MULTI_LINE" /> 
			<property name="sqlPrefix" value="SQL : "/> 
		</bean> 
		</property>  
	</bean>
	
	<bean id="sqlSessionFactory"
		class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" /> 
		<property name="configLocation" 
			value="classpath:config/mybatis/sqlMapConfig.xml" /> 
		<property name="mapperLocations" 
			value="classpath*:config/mapper/oracle/*.xml" /> 
			<!-- classpath* : 다중파일 로딩 -->
	</bean> 
	
	<bean id="sqlSessionTemplate" 
		class="org.mybatis.spring.SqlSessionTemplate"> 
		<constructor-arg ref="sqlSessionFactory" /> 
	</bean>
</beans>